* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

:root {
  --main-color: rgb(8, 8, 8);
  --secondary-color: rgba(88, 87, 87, 0.459);
  --head-lettering: white
}

article {
  padding: 40px;
}

header {
    padding: 20px 35px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--head-lettering);
  }
  
  header a {
    text-decoration: none;
    color: var(--head-lettering);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
  }
 /* end of header section */
 body{
   background-color: var(--secondary-color);
 }

 a{
   text-decoration: none;
  
 }
 
 
 
 
 .aboutme {
      width: 500px;
      border:   3px solid black;
      padding: 30px;
      margin: 40px;
      display: flex;
      float: center;
      
   }

   h2 {
     padding: 40px;
    
    text-align: center;
   }

   .aboutme p {
     
   }

   .work {
     text-decoration: underline;
    flex: 1;
    border: 2px solid black;
    float:left;
    margin: 20px;
   }

  img { 
    
    height: 200px;
    flex: 55 200%;
    max-width: 100%;
  }

  .image {
    width: 300px;
   
  }








  

  

    /* media query for smaller desktop screens and smaller */ 
    @media screen and (max-width: 980px) {
      header h1 a { 
        /* will be applied to any screen smaller than 980 px */
        
      }
      
    }
  
    /* media query for tablets and smaller */
    @media screen and (max-width: 768px) {
      header h1 {
        /* this will be applied to any screen in between 768px and 576pc */
       
      }
    }
    /* media query for mobile phones and smaller */
  
    @media screen and (max-width: 575px) {
      header h1 {
        /* this will be applied on any screen smaller than 575px*/ 
      }
    }